.center {
    text-align: center;
    position: relative;
}
.container {
    justify-content: center;
}
table, td {
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #bdbdbd;
    font-size: small;
    /*text-align: left;*/
}
.thClass {
    background-color: #ececec;
    width: 500px;
    border: 1px solid #bdbdbd;
    text-align: left;

}

.data {
    display: none;
}
.dataCharts {
    display: none;
}
/*#showChart {*/
/*    float: right;*/
/*}*/

.degrees {
    background-color: darkgrey;
    color: white;
    border-radius: 51%;
    width: 59px;
    float: left;
    margin-left: 57px;
}
