body {
    margin: 20px;
    background: #333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

h2 {
    margin: 0 0 20px;
    animation: appear .4s ease-out;
    user-select: none;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    user-select: none;
}

h1, .box {
    margin: 40px auto 0;
    max-width: 1000px;
}

.box {
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #599bfd;
    background: #599bfd;
}

.header {
    position: sticky;
    top: 0;
    align-items: center;
    background: #599bfd;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
}

.search {
    padding-left: 10px;
    color: white;
    height: 40px;
    font-weight: 600;
    background: none;
    border: 0;
    margin-right: 10px;
    font-size: 18px;
    flex: 1;
    min-width: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.search::placeholder {
    color: white;
    opacity: .7;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.search:focus {
    outline: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden;
}

.search-icon {
    margin-top: -1px;
    opacity: .7;
    cursor: text;
    padding-right: 10px;
    flex-shrink: 0;
    overflow: hidden;
}

.search-icon, .search-icon svg {
    width: 20px;
    height: 21px;
}

.search-icon svg {
    pointer-events: none;
}

.search-icon g {
    transform: scale(1.6);
}

.search-icon.disabled {
    cursor: default;
}

.search-icon.has-value {
    opacity: 1;
}

.mode-switcher {
    display: flex;
}

.header .mode-switcher button:first-child {
    border-radius: 4px 0 0 4px;
}

.header .mode-switcher button:last-child {
    border-radius: 0 4px 4px 0;
}

.header .mode-switcher button.active {
    box-shadow: 0 0 4px 1px blue;
}

.header button {
    min-width: 79px;
    user-select: none;
    color: white;
    background: rgb(126, 178, 255);
    border: 0;
    padding: 6px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: filter .15s ease-out, opacity .2s ease-out, box-shadow .15s ease-out;
}

.header button:disabled {
    transition: none;
    cursor: default;
    opacity: .5;
}

.header button:not(:disabled):hover {
    filter: brightness(110%);
}

.header button:not(:disabled):active {
    transition: none;
    filter: brightness(95%);
}

.header button:not(:disabled):focus {
    outline: none;
}

.content {
    padding: 20px;
    overflow: hidden;
}

.main-weather {
    flex-flow: row wrap;
    animation: appear .4s ease-out;
}

.main-forecast {
    display: flex;
    flex-flow: column nowrap;
    animation: appear .4s ease-out;
}

.forecast-list-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;
}

.forecast-list-item:not(.forecast-list-header):hover {
    background: #5f9fff;
}

.forecast-info > div > *:not(:last-child) {
    margin-right: 4px;
}

.forecast-list-item > *:not(:last-child) {
    margin-right: 12px;
}

.forecast-list-item img {
    height: 40px;
    width: 40px;
    user-select: none;
}

.forecast-list-header {
    font-weight: 600;
    font-size: 16px;
    background: #6ba6fd;
    user-select: none;
}

.forecast-time {
    font-size: 12px;
    opacity: .6;
}

.forecast-info {
    font-size: 12px;
    margin-left: auto;
}

.forecast-info > div:first-child {
    margin-bottom: 3px;
}

.forecast-info > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.forecast-temp {
    font-weight: 600;
    font-size: 18px;
}

.forecast-description {
    opacity: .7;
    font-size: 11px;
    font-weight: normal;
}

.forecast-humidity {
    opacity: .7;
}

.forecast-chart-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    min-width: 0;
    overflow: hidden;
    animation: appear .4s ease-out;
}

.time {
    font-size: 12px;
    animation: appear .4s ease-out;
}

.time > div:last-child {
    opacity: .65;
}

.weather {
    margin-top: 10px;
    font-size: 46px;
    margin-right: 20px;
}

.weather img {
    margin-right: 10px;
    user-select: none;
}

.temp-info {
    font-size: 18px;
    white-space: pre;
    text-transform: capitalize;
}

.details {
    width: 200px;
    margin-top: 10px;
}

.details-header {
    font-weight: 600;
    border-bottom: 2px solid #7eb2ff;
    padding-bottom: 5px;
    margin-bottom: 5px;
    user-select: none;
}

.details-list {
    font-size: 12px;
}

.details-list .row + .row {
    margin-top: 2px;
    padding-top: 2px;
    border-top: 1px solid #64a2ff;
}

.loading {
    margin: 78px auto;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 5px solid;
    border-color: white transparent white transparent;
    animation: spin 1s linear infinite, appear .3s ease-out;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0)
    } to {
        transform: rotate(360deg)
    }
}

@media (max-width: 350px) {
    .weather {
        font-size: 28px;
    }

    .weather img {
        width: 80px;
        height: 80px;
    }
}