@import "varibles";

.container {
  position: relative;
  margin: 10% auto;
  width: $widthContainer;
  height: auto;

  form {
    input {
      width: 200px;
    }
  }

  #colorBox {
    background-color: $boxColor;
    width: $boxWidth;
    height: $boxHeight;
    pre {
      padding: 50px;
    }
  }
}