body {
    background-color: #5f0000;
}
.container {
    display: block;
    width: 80%;
    margin: 12px auto;
    font-size: small;
    line-height: 5px;
}
.container h4 {
    color: #8c0000;
}
.daily {
    display: inline-block;
    padding: 5px;
    background-color: seashell;
    border-top: solid 1px #fddbbf;
    border-left: solid 1px #fddbbf;
    border-bottom: solid 1px #fddbbf;
}
.last {
    border-right: solid 1px #fddbbf;
}
.distance {
    height: 40px;
}