body {
    background-color: #dee3e6;
    font-family: sans-serif;
    color: #5a5a5a;
}
.container {
    display: block;
    width: 80%;
    margin: 12px auto;
    font-size: small;
    line-height: 5px;
}
.container .form-group {
    text-align: center;
    margin: 20px auto 30px;
}
.container .form-group form {
    display: inline-grid;
}
.container .form-group form input {
    background-color: #f1f3fb;
    padding: 5px;
    border: solid 1px #83848e;
}
.container .form-group form button {
    background-color: lightgrey;
}
.daily {
    display: inline-block;
    padding: 5px;
    background-color: seashell;
    border-top: solid 1px #fddbbf;
    border-left: solid 1px #fddbbf;
    border-bottom: solid 1px #fddbbf;
}
.last {
    border-right: solid 1px #fddbbf;
}
#header {text-align: center;
    margin: 10px auto 50px;
}
#mainBox {
    width: 100%;
}
.header-day {
    margin: 25px auto 0;
}
.header-day h1 {
    border: solid 1px #000;
}
.daily-weather {
    margin: 0 auto;
    padding: 5px;
    width: 300px;
    background-color: seashell;
    border-top: solid 1px #fddbbf;
    border-left: solid 1px #fddbbf;
    border-bottom: solid 1px #fddbbf;
}
footer {
    height: 100px;
}