body {
    background-color: #dee3e6;
    font-family: sans-serif;
    color: #5a5a5a;
}
.container {
    display: block;
    width: 80%;
    margin: 12px auto;
    font-size: small;
    line-height: 5px;
}
.container form {
    font-size: medium;
}
.container .form-group {
    text-align: center;
    margin: 20px auto 45px;
}
.container .form-group form {
    display: inline-grid;
    color: #5a5a5a;
}
.container .form-group form label {
    background-color: seashell;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #cad1d6;
    border-bottom: 2px solid #cad1d6;
    border-left: 2px solid #ffffff;
    padding: 6px 8px;
}
input[type="radio"]:checked+label {
    border-top: 2px solid #cad1d6;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #cad1d6;
    font-weight: bold
}
#r1+label,
#r2+label {
    margin-right: 10px;
}
.container .form-group form input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.container .form-group form div:nth-child(1) {
    display: grid;
    margin-top: 30px;
}
.container .form-group form div:nth-child(2) {
    margin-top: 25px;
    text-align: left;
}
.container .form-group form input {
    background-color: seashell;
    padding: 10px;
    border-top: 2px solid #cad1d6;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #cad1d6;
}
.container .form-group form input[type="radio"] {
    vertical-align: middle;
    margin: 0px;
}
.daily {
    display: inline-block;
    padding: 5px 15px;
    background-color: seashell;
    border-top: solid 1px #fddbbf;
    border-left: solid 1px #fddbbf;
    border-bottom: solid 1px #fddbbf;
}
.last {
    border-right: solid 1px #fddbbf;
}
#header {text-align: center;
    margin: 10px auto 50px;
}
#mainBox {
    width: 100%;
}
#preloader {
    position: relative;
    text-align: center;
}
#diagram {
    min-width: 310px;
    height: 400px;
    margin: 0 auto
}
.header-day {
    margin: 25px auto 0;
}
.header-day h1 {
    border: solid 1px #000;
}
.daily-weather {
    margin: 0 auto;
    padding: 11px 20px;
    width: 300px;
    background-color: seashell;
    border-top: solid 1px #fddbbf;
    border-left: solid 1px #fddbbf;
    border-bottom: solid 1px #fddbbf;
}
footer {
    height: 100px;
}